public-hoist-pattern[]=@angular/*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=zone.js
public-hoist-pattern[]=rxjs
public-hoist-pattern[]=tslib
public-hoist-pattern[]=better-sqlite3
public-hoist-pattern[]=temporal-polyfill
onlyBuiltDependencies[]=better-sqlite3